<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<body>
<div th:fragment="cardBody(machineType)">
    <div class="card-id" th:text="${machineType.id}">1</div>
    <div class="card-name" th:text="${machineType.name}"></div>
    <div class="codes-list"
         th:each="code : ${machineType?.typeRequestCodes?.stream()?.limit(5)?.toList()}">
        <span class="code-item"
              th:text="${code.codeNumber} + (${code.succeed} ? ' - успешен' : ' - неуспешен')"></span>
    </div>
</div>
</body>
</html>