<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<body>
<div th:fragment="cardBody(selectedMaintenance)">
    <div class="card-id" th:text="${selectedMaintenance.id}">1</div>
    <div class="card-name" th:text="${selectedMaintenance.maintenanceType?.name}"></div>
    <div class="codes-list">
        <span class="code-item" th:text="'Период проведения: ' + ${selectedMaintenance.maintenanceType?.period}"></span>
        <span class="code-item" th:text="'Описание работ: ' + ${selectedMaintenance.workDescription}"></span>
    </div>
</div>
</body>
</html>