<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Machine Types</title>
    <link rel="stylesheet" th:href="@{/css/list_styles.css}">
    <link rel="stylesheet" th:href="@{/css/header_style.css}"/>
</head>

<body>
    <div th:replace="~{fragments/header :: header}"></div>
<div class="container">

    <div class="main-content">
        <form class="filters-section" action="/types" method="get">
            <h2>Поиск типов устройств</h2>

            <div class="filter-group">
                <label for="nameFilter">Имя типа устройства</label>
                <input type="text" name="name" th:value="${name}" id="nameFilter"
                       placeholder="Введите наименование типа устройства...">
            </div>

            <div class="filter-group">

                <label for="pageSize">Количество элементов на странице</label>
                <select id="pageSize" name="perPage">
                    <option value="10" th:selected="${types.size == 10}">10</option>
                    <option value="15" th:selected="${types.size == 15}">15</option>
                    <option value="30" th:selected="${types.size == 30}">30</option>
                </select>
            </div>
            <input type="hidden" value="0" name="page">

            <div class="pagination">
                <button class="filter-btn" type="submit">Применить фильтры</button>
                <a th:if="${selectedModel != null and #authorization.expression('hasAuthority(''STUFF'')')}"
                   th:href="@{/types(
                           page=${types.number},
                           perPage=${types.size},
                           name=${name},
                           selectedType=-1)}"
                   class="add-btn">Добавить устройство
                </a>
            </div>
        </form>

        <section class="cards-section">
            <div class="cards-container">
                <div th:if="${#authorization.expression('hasAuthority(''OPERATOR'')')}" class="card"
                     th:each="type : ${types.content}"
                     th:data-url="${#authorization.expression('hasAuthority(''OPERATOR'')')} ? @{types/{id}(id=${type.id})} : @{/models(typeId=${type.id})}"
                     onclick="window.location.href = this.getAttribute('data-url');">
                    <div class="pagination">
                        <a th:if="${#authorization.expression('hasAuthority(''STUFF'')')}"
                           th:href="@{/types(page=${types.number}, perPage=${types.size}, name=${name}, selectedType=${type.id})}">Изменить</a>
                        <a th:if="${#authorization.expression('hasAuthority(''STUFF'')')}"
                           th:href="@{/types/delete(id=${type.id})}">Удалить</a>
                        <a th:href="@{/models(typeId=${type.id})}">Модели</a>
                    </div>
                    <div th:replace="fragments/cards/machineType :: cardBody(${type})">
                    </div>
                </div>
            </div>

            <div class="pagination">
                <a th:href="@{/types(page=0, perPage=${types.size}, name=${name})}">Первая</a>
                <a th:if="${types.totalPages > 0}"
                   th:href="@{/types(page=${types.totalPages-1}, perPage=${types.size}, name=${name})}">Последняя</a>

                <div class="page-info">
                    Страница <span th:text="${types.number + 1}">1</span> из <span
                        th:text="${types.totalPages}">10</span>
                </div>

                <a th:if="${types.hasNext()}"
                   th:href="@{/types(page=${types.number+1}, perPage=${types.size}, name=${name})}">Следующая</a>
                <a th:if="${types.hasPrevious()}"
                   th:href="@{/types(page=${types.number-1}, perPage=${types.size}, name=${name})}">Предыдущая</a>
            </div>
        </section>

        <section th:if="${typeModel != null and #authorization.expression('hasAuthority(''STUFF'')')}">
            <form action="#" th:object="${typeModel}" class="filters-section" th:action="@{/types/save}"
                  method="post">
                <div class="filter-group">
                    <label for="typeNameInput">Наиенование типа устройства</label>
                    <input id="typeNameInput" th:field="*{name}" type="text"/>
                    <div th:if="${#fields.hasErrors('name')}" style="color:red;">
                        <span th:errors="*{name}"></span>
                    </div>
                </div>

                <input type="hidden" th:field="*{id}"/>
                <button class="filter-btn" type="submit">Подтвердить</button>
                <button class="cancel-btn" type="reset" onclick="window.location.reload();">Отменить</button>
            </form>
        </section>
    </div>
</div>
</body>
</html>