<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Type info</title>
    <link rel="stylesheet" th:href="@{/css/list_styles.css}">
</head>
<body>
<div class="container">
    <header>
        <h1 th:text="'Модель устройства ' + ${modelModel.id}">Модель</h1>
        <h3 th:text="'Наименование модели: ' + ${modelModel.name}">Наименование модели</h3>
        <h3 th:text="'Количество лет использования - ' + ${modelModel.yearsExpire}">Количество лет использования</h3>
    </header>

    <div class="main-content">
        <!--Filtering section-->
        <form class="filters-section" th:action="@{/models/{id}(id=${modelModel.id})}" method="get">
            <h1>Поиск стандартов модели</h1>

            <div class="filter-group">
                <label for="parameterNameFilter">Наименование параметра стандарта</label>
                <input type="text" name="st_parameterName" th:value="${st_parameterName}"
                       id="parameterNameFilter"
                       placeholder="Введите наименование параметра...">
            </div>

            <div class="filter-group">

                <label for="pageSize">Количество элементов на странице</label>
                <select id="pageSize" name="st_perPage">
                    <option value="10" th:selected="${standards.size == 10}">10</option>
                    <option value="15" th:selected="${standards.size == 15}">15</option>
                    <option value="30" th:selected="${standards.size == 30}">30</option>
                </select>
            </div>
            <input type="hidden" value="0" name="st_page">

            <div class="pagination">
                <button class="filter-btn" type="submit">
                     Применить фильтры
                </button>
                <a th:href="@{/models/{id}(id=${modelModel.id}, st_page=${standards.number}, st_perPage=${standards.size}, st_parameterName=${st_parameterName}, st_selected=-1)}"
                   class="add-btn">Добавить стандарт
                </a>
            </div>
        </form>

        <!--Cards section-->
        <section class="cards-section">
            <div class="cards-container">
                <div class="card" th:each="standard : ${standards.content}"
                     th:data-url="@{/models/{id}(id=${modelModel.id}, st_page=${standards.number}, st_perPage=${standards.size}, st_parameterName=${st_parameterName}, st_selected=${standard.id})}"
                     onclick="window.location.href = this.getAttribute('data-url');">
                    <a th:href="@{/models/standards/delete(id=${standard.id})}">
                        Удалить
                    </a>
                    <div class="card-id" th:text="${standard.id}">13</div>
                    <div class="card-name" th:text="'Наименование параметра: \'' + ${standard.parameterName} + '\''">
                        Наименование параметра
                    </div>
                    <div class="codes-list">
                        <span class="code-item"
                              th:text="'Значение предупрждения: ' + ${standard.suggestionValue}">12</span>
                        <span class="code-item" th:text="'Критическое значение: ' + ${standard.warningValue}">123</span>
                        <span class="code-item" th:text="'{Характеристика должна быть: ' + ${standard.greater ? '>' : '<'}">123</span>
                        <span class="code-item" th:text="'Наименование модели:' + ${standard.model.name}">Модель устройства</span>
                    </div>
                </div>
            </div>

            <!--Bottom pagination layer-->
            <div class="pagination">
                <a th:href="@{/models/{id}(id=${modelModel.id}, st_page=0, st_perPage=${standards.size}, st_parameterName=${st_parameterName}, st_selected=${standardModel == null ? null : standardModel.id})}">
                    Первая
                </a>
                <a th:if="${standards.totalPages > 0}"
                   th:href="@{/models/{id}(id=${modelModel.id}, st_page=${standards.totalPages-1}, st_perPage=${standards.size}, st_parameterName=${st_parameterName}, st_selected=${standardModel == null ? null : standardModel.id})}">
                     Последняя
                </a>

                <div th:if="${standards.totalPages > 0}"
                     class="page-info">
                    Страница <span th:text="${standards.number + 1}">1</span> из <span
                        th:text="${standards.totalPages}">10</span>
                </div>

                <a th:if="${standards.hasNext()}"
                   th:href="@{/models/{id}(id=${modelModel.id}, st_page=${standards.number+1}, st_perPage=${standards.size}, st_parameterName=${st_parameterName}, st_selected=${standardModel == null ? null : standardModel.id})}">
                    Следующая
                </a>
                <a th:if="${standards.hasPrevious()}"
                   th:href="@{/models/{id}(id=${modelModel.id}, st_page=${standards.number-1}, st_perPage=${standards.size}, st_parameterName=${st_parameterName}, st_selected=${standardModel == null ? null : standardModel.id})}">
                    Предыдущая
                </a>
            </div>
        </section>

        <!--Code create/editing-->
        <section th:if="${standardModel != null}">
            <form action="#" th:object="${standardModel}" class="filters-section" th:action="@{/models/standards/save}"
                  method="post">
                <div class="filter-group">
                    <label for="parameterNameInput">Наименование параметра (исходное)</label>
                    <input id="parameterNameInput" th:field="*{parameterName}" type="text"
                           placeholder="Введите полное наименование параметра..."/>
                    <div th:if="${#fields.hasErrors('parameterName')}" style="color:red;">
                        <span th:errors="*{parameterName}"></span>
                    </div>
                </div>

                <div class="filter-group">
                    <label for="suggestionValueInput">Значение предупреждения</label>
                    <input id="suggestionValueInput" th:field="*{suggestionValue}" type="number" min="0" step="0.001"/>
                    <div th:if="${#fields.hasErrors('suggestionValue')}" style="color:red;">
                        <span th:errors="*{suggestionValue}"></span>
                    </div>
                </div>

                <div class="filter-group">
                    <label for="warningValueInput">Критическое значение</label>
                    <input id="warningValueInput" th:field="*{warningValue}" type="number" min="0" step="0.001"/>
                    <div th:if="${#fields.hasErrors('warningValue')}" style="color:red;">
                        <span th:errors="*{warningValue}"></span>
                    </div>
                </div>

                <div class="filter-group">
                    <label for="greaterValueInput">Направление сравнения</label>
                    <select id="greaterValueInput" th:field="*{greater}" required>
                        <option value="true">Значение характеристики должно превышать</option>
                        <option value="false">Значение характеристики должно быть меньше</option>
                    </select>
                    <div th:if="${#fields.hasErrors('greater')}" style="color:red;">
                        <span th:errors="*{greater}"></span>
                    </div>
                </div>

                <input type="hidden" th:field="*{model}"/>
                <input type="hidden" th:field="*{id}"/>
                <button class="filter-btn" type="submit">
                     Подтвердить
                </button>
                <button class="cancel-btn" type="reset" onclick="window.location.reload();">
                     Отменить
                </button>
            </form>
        </section>
    </div>
</div>
</body>
</html>